// you can change colors here

$vp-font: 'MiSans, Roboto, "Noto Sans SC", "PingFang SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif, "Noto Serif SC", SimSun, serif, "Inter", ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
$vp-font-heading: $vp-font;
$vp-font-mono: 'ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace' !default;